.mid { margin-top: 320px; }
.nav-bar { /* dodanie koloru i wielkosc navbara */
    position: fixed;
    width: fit-content;  /* pełna szerokość*/
    height: 80px; /* wysokość paska */
    background-color: rgba(0, 0, 0, 0.8); /* kolor paska */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px; /* szerokość loga */
    height: 50px; /* wysokość loga */
    margin-right: 20px; /* pozycjonowanie loga od prawej na pasku menu */
    margin-top: 15px;    /* pozycjonowanie loga od góry na pasku menu */
    margin-left: 15px; /* pozycjonowanie loga od lewej na pasku menu */
}
.nav-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* możliwość zajmowania całego paska */
    line-height: 80px;    /* pozycjonowanie linków na pasku menu */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.p1 {
font-family: "Times New Roman", Times, serif;
}

.p2 {
font-family: Arial, Helvetica, sans-serif;
}

.p3 {
font-family: "Lucida Console", "Courier New", monospace;
}

.p4 {
font-family: garamond,serif;
}

#myVideo {
position: fixed;
right: 0;
bottom: 0;
top: 0;
min-width: fit-content;
min-height: 100%;
}

#cars {
  position: fixed;
  min-width: fit-content;
  min-height: fit-content;
  }

.content {
position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.85);
color: #f1f1f1;
width: fit-content;
right: 0;
padding: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  font-family:  Arial, sans-serif;
}

.auh {
  position: fixed;
  vertical-align: top;
  font-family: garamond,serif;
  font-size: 64px;
  color: white;
  margin-top: 150px;
  margin-left: 150px;
  text-shadow: 2px 2px #000000;
}

.aut {
  position: fixed;
  vertical-align: top;
  font-family: garamond,serif;
  font-size: 32px;
  color: white;
  margin-top: 250px;
  margin-left: 175px;
  text-shadow: 2px 2px #000000;
}

.b1 {
  position: fixed;
  width: 500px;
  height: 600px; /* wysokość paska */
  background-color: rgba(0, 0, 0, 0.8); /* kolor paska */
  margin-top: 150px;
  margin-left: 100px;
}

.bh {
  position: fixed;
  margin-left: 20px;
  margin-top: 10px;
  font-family: garamond,serif;
  font-size: 64px;
  color: white;
  text-shadow: 2px 2px #000000;
}

.bt {
  position: fixed;
  vertical-align: top;
  font-family: garamond,serif;
  font-size: 32px;
  color: white;
  margin-top: 400px;
  margin-left: 200px;
  text-shadow: 2px 2px #000000;
}

.bhh {
  position: fixed;
  vertical-align: top;
  font-family: garamond,serif;
  font-size: 64px;
  color: white;
  margin-top: 300px;
  margin-left: 150px;
  text-shadow: 2px 2px #000000;
}


.b2 {
  position: fixed;
  width: 500px;
  height: 600px; /* wysokość paska */
  background-color: rgba(0, 0, 0, 0.8); /* kolor paska */
  margin-top: 150px;
  margin-left: 700px;
}

.b3 {
  position: fixed;
  width: 500px;
  height: 600px; /* wysokość paska */
  background-color: rgba(0, 0, 0, 0.8); /* kolor paska */
  margin-top: 150px;
  margin-left: 1300px;
}


.carv {
  position: fixed;
  margin-top: 250px;
  margin-left: 1100px;
}